* {
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin: 3% 15% 0% 15%;
    width: 70%;
}

.cuisine {
    display: block;
    margin: 7% 35% 2% 35%;
    width: 30%;
    border: 1px solid black;
    border-radius: 5%;
}